--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" content="Explore our collection of vintage clothing and wallets. Unique styles from the past brought to the present." />
		<meta name="keywords" content="Vintage Wallets, Vintage Tie, Vintage Clothing, Vintage, Etiuda Vintage, Etiudavintage.com, etiudavintage.com, instagram etiudavintage, instagram Etiuda Vintage, facebook etiudavintage.com, facebook Etiuda Vintage, fb etiudavintage.com, fb Etiuda Vintage, ig etiudavintage.com, ig Etiuda Vintage">
		<meta name="robots" content="index, follow">
		<meta name="language" content="English">
		<meta name="author" content="Franciszek Sikora <contact@bladywebdev.pl>">
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content="Vintage Clothing & Wallets | Etiuda Vintage">
		<meta property="og:site_name" content="Etiuda Vintage">
		<meta property="og:url" content="https://etiudavintage.com">
		<meta property="og:description" content="Explore our collection of vintage clothing and wallets. Unique styles from the past brought to the present">
		<meta property="og:type" content="website">
		<meta property="og:image" content="https://etiudavintage.com/bgwithlogo.png">
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://*; child-src 'none'; font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com;">
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		
	</head>
	<body class="min-w-full min-h-screen bg-black text-white font-courier">
		<slot />
	</body>
</html>

